
@{
    ViewBag.Title = "New";
}
<style>
    #welcomeForm {
        width: 80%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .inputrow {
        margin-bottom: 15px;
        width: 40%;
        overflow: hidden;
    }

        .inputrow input {
            float: right;
        }
        .inputrow input[type="submit"] {
            float: none;
            margin-top: 50px;
        }
</style>

<div id="welcomeForm">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teacher</a>
    </nav>

    <h2>New Teacher</h2>

    <form method="POST" action="/Teacher/Create" name="teacherform">
        <div class="inputrow">
            <label for="TFname">First name:</label>
            <input type="text" id="TFname" name="TeacherFname" placeholder="John" />
        </div>

        <div class="inputrow">
            <label for="TLname">Last name:</label>
            <input type="text" id="TLname" name="TeacherLname" placeholder="Deo" />
        </div>

        <div class="inputrow">
            <label for="Hdate">Hire Date:</label>
            <input type="datetime" id="Hdate" name="HireDate" placeholder="yyyy-mm-dd hh:mm:ss" />
        </div>

        <div class="inputrow">
            <label for="Spay">Salary:</label>
            <input type="number" id="Spay" name="Salary" step="any" placeholder="33.00" />
        </div>
        <div class="inputrow">
            <label for="Enumber">EmployeeNumber:</label>
            <input type="text" id="Enumber" name="EmployeeNumber" placeholder="T505" />
        </div>

        <div class="inputrow">
            <input type="submit" value="Create Teacher" />
        </div>

    </form>
    
</div>
<script src="~/Scripts/school.js"></script>